.wrapper {
	@import "../scss/bootstrap.scss";
	@include keyframes("wrapper-");

	.nav+.nav,
	.alert+.alert,
	.navbar+.navbar,
	.progress+.progress {
		margin-top: 1rem
	}

	.scrollspy-example {
		height: 200px;
		margin-top: .5rem;
		overflow: auto
	}
}
